<!DOCTYPE html>
    <html>
        <head>
        <title>page1</title>
        <style>
</style>
    <link rel = "styleSheet" href = "/css/myCS.css">
    
    </script>
    </head>
    <body style = "background-color: rgb(92, 89, 92);"> 
         
        <script src = "/js/testing.js"></script>
        <p>Hello World!</p>
        <p id = "post1">This is a post</p>
        <div class = "button-container">
            <button id="myButton">Click me!</button>
        </div>
        <div class="box">
            <div class = "container">
                <img src = "/img/headerImage.png" class = "container-image">
            </div>
            <div class = "box-content">
                <p><strong>Wizard's Tavern</p>
            </div>
            
        </div>
        

    </body>
</html>

