<!DOCTYPE html>
    <html>
        <head>
        <title>Wizard's Tavern Home</title>
        <style>
</style>
    <link rel = "styleSheet" href = "/css/myCS.css">
    
    </script>
    </head>
    <body style = "background-color: rgb(255, 255, 255);"> 
         
        <script src = "/js/testing.js"></script>
        <p>Hello World!</p>
        <p id = "post1">This is a post</p>
        <div class = "button-container">
            <button id="myButton" class = "button-style">Show Posts!</button>
        </div>
        <div class="box">
            <div class = "container-top">
                <img src = "/img/headerImage.png" class = "top-image">
            </div>
            <div class = "box-content">
                <p><strong>Wizard's Tavern</p>
            </div>
            
        </div>
        
        
        
        

    </body>
</html>
