.container-top {
        height: 100px; 
        width: 100px;
    }
.container{
    height: 300px;
    width: 200px;
}
.container-image{
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-width: 1.5px;
    border-color: black;
    border-style: solid;
}
.top-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 25vh;
}
.button-style{
    background-color: rgb(59, 7, 35);
    color: #fff;              
    padding: 15px 30px;      
    border: none;           
    border-radius: 10px;     
    font-size: 16px;         
    cursor: pointer;        
    
}
.box{
    width: 100vw;
    height: 100px;
    background-color: rgb(83, 11, 49);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-content{
    color: white;
    font-size: 50px;
}
.title{
    color: white;
    margin-top: 100px;
    border-width: 2.5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(144, 141, 144);
    width: 80vw;
}
.post-body{
    color: white;
}
.username{
    font-size: 10px;
}
.post-container{
    height: 275px;
    width: 75vw;
    border-width: 2.5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(144, 141, 144);
}






