
.container-top {
        height: 100px; 
        width: 100px;
    }
/*The styling for the banner image*/
.container-image{
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-width: 1.5px;
    border-color: black;
    border-style: solid;
}
/*The styling for the images*/
.top-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*The styling for the banner image*/
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 25vh;
}
/*The styling for button's background*/
.button-style{
    background-color: rgb(59, 7, 35);
    color: #fff;              
    padding: 15px;      
    border: none;           
    border-radius: 10px;     
    font-size: 16px;         
    cursor: pointer;        
    
}
/*The styling for the button*/
.box{
    width: 100vw;
    height: 100px;
    background-color: rgb(83, 11, 49);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*The styling for the banner*/
.box-content{
    color: white;
    font-size: 50px;
}
/*The styling for the banner text*/
.title{
    color: white;
    margin-top: 100px;
    border-width: 2.5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(144, 141, 144);
    width: 80vw;
}
/*The styling for the titles*/
.post-body{
    color: white;
}
/*The styling for post body text*/
.username{
    font-size: 10px;
}
/*The styling for the usernames*/
.post-container{
    height: 275px;
    width: 75vw;
    border-width: 2.5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(144, 141, 144);
}
/*The styling for the posts*/
.page-links{
   
    color: darkorchid;
    position:relative;
    text-align: center;
    margin-bottom: 25px;
}
/*The styling for the page links*/
.input-box-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 5vh;
}
.delete-Buttons{
    background-color: rgb(59, 7, 35);
    color: #fff;              
    padding: 10px;      
    border: none;           
    border-radius: 10px;     
    font-size: 16px;         
    cursor: pointer;  
    margin-left: 50px;
}
.edit-Buttons{
    background-color: rgb(134, 141, 2);
    color: #fff;              
    padding: 10px;      
    border: none;           
    border-radius: 10px;     
    font-size: 16px;         
    cursor: pointer;  
    margin-left: 50px;
}
.editImg-Buttons{
    background-color: rgb(2, 141, 139);
    color: #fff;              
    padding: 10px;      
    border: none;           
    border-radius: 10px;     
    font-size: 16px;         
    cursor: pointer;  
    margin-left: 50px;
}
.login-Button{
    background-color: rgb(59, 7, 35);
    color: #fff;              
    padding: 10px;      
    border: none;           
    border-radius: 10px;     
    font-size: 16px;         
    cursor: pointer;  
}


